.toolbox.templates .item.header{
	background-color: #FFFFFF;
	color: #444;
	padding: 5px;
}

.toolbox.templates .body .item.header:hover{
	background-color: #FFFFFF;
	cursor: default;
}

.toolbox.templates .item{
}

.toolbox.templates .body .item.selected{
	background: #AEE2FF;
}

.toolbox.templates .body .item.selected:hover{
	background: #AEE2FF;	
}

/*.toolbox.templates .body .item:hover{
	background: #E9E9E9;
	cursor: pointer;
}*/

.toolbox.templates .item .isActive{
	width: 15px;
	height: 15px;
	background: #ccc;
	border-radius: 12px;
	cursor: pointer;
	margin-top: 5px;
	margin-left: 1px;
	border: 1px solid #A3A3A3;
}

.toolbox.templates .item .isActive:hover,.toolbox.templates .item .isActive.active:hover{
	border:1px solid #333;
}

.toolbox.templates .item .isActive.active{
	background-color: rgb(0, 122, 255);
	border: 1px solid #005AAD;
}

.toolbox.templates .item .type{
	color: #A5A5A5;
}

.toolbox.templates .item .load{
	background-image: url(../images/upload2.png);
	width: 28px;
	height: 26px;
	cursor: pointer;
	margin-right: 0px;
	background-position: 4px 5px;
	background-size: 69%;
	background-repeat: no-repeat;
	opacity: 0.2;
}

.toolbox.templates .item .load:hover{
	opacity: 1;
}